@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto-regular.eot") format("eot");
        src:local("roboto-regular"),
            url("../fonts/roboto-regular.woff") format("woff"),
            url("../fonts/roboto-regular.woff2") format("woff2"),
            url("../fonts/roboto-regular.eot") format("eot"),
            url("../fonts/roboto-regular.ttf2") format("TrueType"),
            url("../fonts/roboto-regular.svg") format("svg");
            font-weight: normal;
}
      
@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/roboto-bold.eot") format("eot");
    src:    local("roboto-bold"),
            url("../fonts/roboto-bold.woff") format("woff"),
            url("../fonts/roboto-bold.woff2") format("woff2"),
            url("../fonts/roboto-bold.eot") format("eot"),
            url("../fonts/roboto-bold.ttf") format("TrueType"),
            url("../fonts/roboto-bold.svg") format("svg");
            font-weight: 700;
            font-style: normal;
}

@font-face {
    font-family: "amatic_regular";
    src: url("../fonts/amaticsc_regular.eot") format("eot");
    src:    local("roboto-bold"),
            url("../fonts/amaticsc_regular.woff") format("woff"),
            url("../fonts/amaticsc_regular.woff2") format("woff2"),
            url("../fonts/amaticsc_regular.eot") format("eot"),
            url("../fonts/amaticsc_regular.ttf") format("TrueType"),
            url("../fonts/amaticsc_regular.svg") format("svg");
            font-weight: normal;
            font-style: normal;
}

@font-face {
    font-family: "amatic_bold";
    src: url("../fonts/amaticsc_bold.eot") format("eot");
    src:    local("roboto-bold"),
            url("../fonts/amaticsc_bold.woff") format("woff"),
            url("../fonts/amaticsc_bold.woff2") format("woff2"),
            url("../fonts/amaticsc_bold.eot") format("eot"),
            url("../fonts/amaticsc_bold.ttf") format("TrueType"),
            url("../fonts/amaticsc_bold.svg") format("svg");
            font-weight: normal;
            font-style: normal;
}
